<footer>
  <div class="container">
    <div class="profile">
      <div class="company">
        <div class="logo-container">
          <img defaultImage="../../assets/images/loading.png" lazyLoad="../../assets/icons/icon-nobg.png" alt="">
        </div>
        <div class="company-name">VAROON ENTERPRISES</div>
      </div>
      <div class="social-media">
        <a target="_blank" href="https://www.facebook.com/profile.php?id=100085629015623">
          <div class="image-container">
            <img defaultImage="../../assets/images/loading.png" lazyLoad="../../assets/icons/facebook.png" alt="facebook-icon">
          </div>
        </a>
        <a target="_blank" href="https://twitter.com/VaroonEnterpris">
          <div class="image-container">
            <img defaultImage="../../assets/images/loading.png" lazyLoad="../../assets/icons/twitter.png" alt="twitter-icon">
          </div>
        </a>
        <a target="_blank" href="https://www.instagram.com/varoonenterprises/">
          <div class="image-container">
            <img defaultImage="../../assets/images/loading.png" lazyLoad="../../assets/icons/instagram.png" alt="instagram-icon">
          </div>
        </a>
        <a target="_blank" href="https://www.linkedin.com/in/varoon-enterprises-69b462250/">
          <div class="image-container">
            <img defaultImage="../../assets/images/loading.png" lazyLoad="../../assets/icons/linkedin.png" alt="linkedin-icon">
          </div>
        </a>
        <a target="_blank" href="https://wa.me/+918925175163">
          <div class="image-container">
            <img defaultImage="../../assets/images/loading.png" lazyLoad="../../assets/icons/whatsapp.png" alt="whatsapp-icon">
          </div>
        </a>
      </div>

    </div>
    <div class="contact-us">

      <a class="info"  href="mailto:info@varoonenterprises.com">
        <mat-icon matSuffix style="color: white;">mail</mat-icon>info@varoonenterprises.com
      </a>
      <a class="info" href="tel:+91 8925175163">
        <mat-icon matSuffix style="color: white;">phone</mat-icon>+91 8925175163
      </a>
      <div class="info">
        <mat-icon matSuffix style="color: white;">location_on</mat-icon>
        <div class="address">
          <span>1/225 Mahalakshmi street,</span><br>
          <span>Lakshmi Nagar,</span><br>
          <span>Chennai - 600048.</span><br>
          <span>Tamil Nadu, India</span>
        </div>

      </div>
    </div>
    <div class="newsletter">
      <div class="head">SUBSCRIBE</div>
      <div class="text">Enter your email to get notified about our new products</div>
      <mat-form-field>
        <input type="email" matInput placeholder="Email">
        <mat-icon matSuffix style="color: black;">mail</mat-icon>
      </mat-form-field>
    </div>
  </div>
</footer>
